$bg-900: #2e384d;
$bg-800: #69707f;
$bg-700: #8798ad;
$bg-600: #bfc5d2;
$bg-500: #f4f6fc;
$bg-400: #eef3f5;

$ui-success: #33ac2e;
$ui-warning: #f7c137;
$ui-info: #00c1d4;
$ui-danger: #d63649;
$ui-secondary: #8c54ff;
